@font-face {
  font-family: "Aileron";
  src: url("/fonts/Aileron-Light.otf");
}

html {
}

body {
  font-family: "Aileron";
  background: url("../img/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.special {
  text-align:center;
}

.board {
  background: rgba(0,0,0,0.2);
  border-radius: 3px;
  text-align: center;
  padding: 15px;
  width: 420px;
  height: 420px;
  margin:0 auto;
  margin-top: 40px;
}

.cell {
  border-radius: 3px;
  float: left;
  color: black;
  width: 95px;
  height: 95px;
  background: rgba(255,255,255,0.9);
  text-align: center;
  margin: 5px;
  font-size: 3.2em;
}

.cell div {
  margin-top: 13px;
}